<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>얼간뱅크</title>
    <link rel="stylesheet" type="text/css" href="/css/choose_enter.css">
</head>
<body>
<div class="main">
    <div class="introduce">
        등록할 종목을 선택해주세요
    </div>
    <div class="choose">
        <button type="button" class="coin_button" onclick="location.href='coin_enter'">코인</button>
        <button type="button" class="stock_button" onclick="location.href='stock_enter'">주식</button>
    </div>
</div>

</body>
</html>